* {
	font-family: 'Open Sans', sans-serif;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', serif;
}

p {
	font-size: 14px;
	margin-bottom: 10px;
}

blockquote {
	font-style: italic;
	font-weight: 300;
	border-left: 3px solid #cf2334;
	margin: 10px 0;
	font-size: 1em;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.header {
	height: 45px;
}

.logo {
	background-color: #cf2334;
	float: left;
	padding: 5px 20px;
}

.logo h1 {
	color: #fff;
	vertical-align: middle;
	margin: 0;
}

.menu {
	padding-top: 12px;
}

.nav-menu {
	list-style: none;
	margin-left: 0;
}

.nav-item {
	display: inline-block;
	margin-left: 40px;
	font-size: .9em;
	font-weight: 700;
}

.nav-item a {
	color: #565656;
}

.nav-item a:hover, .nav-item.active a {
	color: #cf2334;
	-webkit-transition: color .6s;
	-moz-transition: color .6s;
	transition: color .6s;
}

.wrapper {
	overflow: hidden;
}

.content-head {
	padding: 20px 0;
	position: relative;
	z-index: 5;
}

.content-head h4 {
	margin: 0;
}

.content {
	background-color: #ececec;
	padding: 100px 0 30px 0;
	position: relative;
}

.container {
	height: 100%;
	width: 1028px;
	margin: 0 auto;
}

.container:before {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 9999px;
	width: 2px;
	left: 50%;
	margin-left: -1px;
	content: "";
	background-color: #ccc;
}

.date-divider {
	display: block;
	width: 64px;
	height: 64px;
	margin: 40px auto;
	padding-top: 1em;
	position: relative;
	background-color: #333;
	border: 3px solid #fff;
	-webkit-border-radius: 32px;
	-moz-border-radius: 32px;
	border-radius: 32px;
	text-align: center;
}
.date-divider:first-child {
	margin-top: -132px;
}
.date-divider:first-child:before {
	width: 70px;
	height: 70px;
	content: "";
	background-color: #ececec;
	position: absolute;
	left: 50%;
	top: -6px;
	margin-left: -35px;
	z-index: -1;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
}

.date-divider-day, .date-divider-month {
	color: #fff;
}
.date-divider-day {
	display: block;
	font-size: 1.7em;
	line-height: .5em;
}
.date-divider-month {
	font-size: .7em;
}

.article {
	width: 475px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 1px 2px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 1px 2px 0px rgba(50, 50, 50, 0.3);
}
.article:before {
	position: absolute;
	display: block;
	top: 50%;
	margin-top: -8px;
	content: "";
	height: 16px;
	width: 16px;
	background-color: #cf2334;
	border: 4px solid #fff;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
.article:after {
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-width: 8px;
	margin-top: -8px;
}

.article.odd {
	float: left;
	clear: left;
	margin-bottom: 80px;
}
.article.odd:before {
	right: -47px;
}
.article.odd:after {
	left: 100%;
	border-left-color: #FFF;
}

.article.even {
	float: right;
	clear: right;
	margin-top: 80px;
}
.article.even:before {
	left: -47px;
}
.article.even:after {
	right: 100%;
	border-right-color: #FFF;
}

/**
 * Post Formats
 */

.aside-content, .chat-content, .status-content {
	padding: 10px;
	background-color: #f5f5f5;
	border: 1px solid #ececec;
}

.aside-content:after, .chat-content:after, .status-content:after {
	font-family: "FontAwesome";
	font-size: 2.5em;
	color: #e7e7e7;
	position: absolute;
	right: 20px;
	top: 20px;
}

/* Standard */

.featured-image {
	width: 50%;
	height: 200px;
	margin: 0 25px 0 0;
	float: left;
	border: 1px solid #ccc;
}

.featured-image img {
	height: 100%;
	width: 100%;
}

.post-meta {
	font-size: .7em;
	font-weight: 700;
	color: #cf2334;
	padding-bottom: 10px;
}

.post-title {
	font-size: 1.3em;
	line-height: 1.3em;
}

.post-comments {
	font-size: .9em;
	color: #565656;
	bottom: 20px;
	left: 50%;
	margin-left: 25px;
	position: absolute;
}

.post-comments i {
	font-size: 1.1em;
	color: #565656;
	padding: 3px;
	margin-right: 5px;
	border: 2px solid #565656;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

/* Aside */

.format-aside {
	font-style: .9em;
}

/* Gallery */

.gallery-item {
	margin: 0 0 5px 0;
	position: relative;
	overflow: hidden;
}
.gallery-item img {
	width: 100%;
	height: auto;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
.gallery-item:nth-child(3n) {
	width: 100%;
	clear: both;
}
.gallery-item:first-child, .gallery-item:nth-child(3n+1), .gallery-item:nth-child(3n-1) {
	width: 50%;
	float: left;
}
.gallery-item:first-child, .gallery-item:nth-child(3n+1) {
	padding-right: 2px;
}
.gallery-item:nth-child(3n-1) {
	padding-left: 2px;
}
.gallery-caption a {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0);
	text-align: center;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}
.gallery-caption a:hover {
	background-color: rgba(255,255,255,0.6);
}
.gallery-caption a:hover i {
	opacity: 1;
}
.gallery-item:hover img {
	transform: scale(1.2);
}
.gallery-caption i {
	color: #cf2334;
	font-size: 2em;
	position: absolute;
	top: 50%;
	margin: -0.5em 0 0 -0.5em;
	left: 50%;
	margin-top: ;
	opacity: 0;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}

/* Link */
.format-link .link {
	background-color: #f5f5f5;
	border: 1px solid #ececec;
	padding: 10px;
}
.format-link .link:before {
	font-size: 2em;	
	font-family: 'FontAwesome';
	content: "\f0c1";
	color: #333;
	float: left;
}
.format-link a {
	color: #6f6f6f;
	font-style: italic;
	font-weight: 300;
	padding-left: 25px;
}
.format-link a:hover {
	color: #cf2334;
	-webkit-transition: all .6s;
	-moz-transition: all .6s;
	transition: all .6s;
}

/* Image */

.format-image img {
	width: 100%;
	max-height: 430px;
}

/* Quote */

.format-quote blockquote {
	background-color: #f5f5f5;
	margin: 0;
	padding: 10px 20px;
	border: 1px solid #ececec;
}
.format-quote blockquote:before {
	font-family: 'FontAwesome';
	content: "\f10d";
	font-size: 2em;
	color: #333;
	float: left;
}
.format-quote blockquote p {
	font-style: italic;
	font-weight: 300;
	padding: 5px 0 0 50px;
	font-size: 1em;
}
.format-quote cite {
	font-weight: 700;
	float: right;
}

/* Status */

.status-content:after {
	content: "\f10e";
	top: 22px;
}

/* Chat */

.chat-content:after {
	content: "\f075";
}
.format-chat {
	padding-left: 10px;
}
.format-chat cite {
	font-weight: 700;
	font-size: .9em;
}
.format-chat p {
	margin-bottom: 10px;
}

.footer-widgets {
	position: relative;
	background-color: #fff;
}

.footer-widget {
	padding: 10px 0;
}

.footer-widget-title h4 {
	font-size: .9em;
}

.footer {
	height: 60px;
	background-color: #444;
	color: #a2a2a2;
	font-size: .8em;
	text-align: center;
	padding-top: 15px;
	position: relative;
}
